@{
    ViewData["Title"] = "Home Page";
}

@{
    var listcount = ViewData["result"] as string;
}

<form asp-controller="Home" asp-action="Index">
    <p>
        Keywords: <input type="text" name="keywords">
        Url: <input type="text" name="searchresult">
        <input type="submit" value="Filter" />
    </p>
    <p>
       @if(@listcount!=null)
       @listcount.ToString()
    </p>
</form>

